@font-face {
    font-family: 'main_font';
    src: url(fonts/Skqatterpillur.ttf);
}
@font-face {
    font-family: 'sub_font';
    src: url(fonts/AOUWobbleText-Bold.ttf);
    font-style: bold;
}   

@keyframes emoji_fade {
    0% {
        transform: rotate(5deg) translateX(0px) translateY(0px);
        opacity: 75%;
    }
    20%{
        transform: rotate(-5deg) translateX(20px) translateY(-40px);
    }
    40%{
        transform: rotate(5deg) translateX(-20px) translateY(-80px);
    }
    60%{
        transform: rotate(-5deg) translateX(20px) translateY(-120px);
    }
    80%{
        transform: rotate(5deg) translateX(-20px) translateY(-160px);
    }
    100% {
        transform: rotate(-5deg) translateX(0px) translateY(-200px);
        opacity: 0%;
    }
}
@keyframes text_fade {
    0% {
        transform: translateY(0px);
        opacity: 85%;
    }
    90%{
        transform: translateY(0px);
        opacity: 85%;
    }
    100% {
        transform: translateY(-30px);
        opacity: 0%;
    }
}

@keyframes zoom_button {
    0% {
        zoom: 100%;
    }
    100% {
        zoom: 120%;
    }
}

@keyframes zoom {
    0% {
        zoom: 100%;
    }
    100% {
        zoom: 105%;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
@keyframes rotate_360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes move {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}
@keyframes move_up {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2px);
    }
}
@keyframes diseaper {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes font_color {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#small_tabbed_title {
    position: relative;
    tab-size: 50px;
    left: 28%;
}

#tabbed_title {
    position: relative;
    tab-size: 100px;
    font-size: 115%;
    left: 40%;
    bottom: 10px;
}

#end_page_pos{
    width: 600px;
    height: 150px;
    padding: 10px;
    margin-top: 300px;
}


.input-box label {
    position: absolute; 
    left:171px;
    opacity: 100%;
    pointer-events: none;
    transition: 0.6s;
    transform: opacity(-50%);
}

.icon {
    padding-left: 50px;
    position:relative;
    width:30px;
    top:10px;
}

.look {
    position: relative;
    top:6px;
    right:30px;
    width:20px;
    height:20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgb(0, 0, 0);
    border-radius: 5px;
}

.look:hover {
    transition-duration: 0.5s;
    background-color:rgba(77, 82, 77, 0.4);
}

#show_password_inactive:hover {
    cursor: pointer;
    content: url(https://icons.hackclub.com/api/icons/white/view);
}


#show_password_inactive{
    position: relative;
    width:20px;
    bottom:1px;
    right:6px;
    transition: 1s;
}

#show_password_active:hover {
    cursor: pointer;
    content: url(https://icons.hackclub.com/api/icons/white/private-fill);
}


#show_password_active{
    position: relative;
    width:20px;
    bottom:1px;
    right:6px;
    transition: 1s;
}


input:placeholder-shown ~ label {
opacity:100%;
}

.input-box input:focus ~label,
input:not(:placeholder-shown) ~ label {
    opacity:0%;
}

.input-box input {
    width:165px; 
    height:25px;
    background-color: rgba(255, 255, 255, 0.679);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-family: "sub_font";
    font-size: 80%;
    color: grey;
    padding: 0 35px 0 5px;
}

.input-box input look {
    width:15px; 
    background-color: rgba(255, 255, 255, 0.679);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-family: "sub_font";
    font-size: 80%;
    color: grey;
    padding: 0 35px 0 5px;
}

.remember-forgot label input{
    accent-color: rgb(210, 15, 15);
}

.wrapper a {
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.btn {
    position: absolute;
    background-color: grey;
    right:130px;
    top:230px;
    height:35px;
    width:80px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: .8s;
}

.btn:hover {
    animation: move_up 1s forwards;
    cursor: pointer;
    color:#df0b0b;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.btn2:hover {
    animation: move_up 1s forwards;
    cursor: pointer;
    color:#df0b0b;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.btn2 {
    position: absolute;
    background-color: grey;
    right:130px;
    top:250px;
    height:35px;
    width:80px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: .8s;
}

.wrapper {
    font-family: "sub_font";
    
    position : relative;
    width:400px;
    height:370px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 20px;
    padding-left: 80px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

.link{
    color: #df0b0b;
    font-size: 90%;
}
.gradient_anim {
    animation: font_color 2s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_part {
    font-family:"main_font";
    color : rgb(228, 39, 127);
    font-size: 110%;
}

.important {
    font-family:"main_font";
    color : rgb(206, 20, 20);
    font-size: 105%;
}

.subtext {
    font-family:"sub_font";
    color : rgb(209, 102, 21);
    font-size: 120%;
}

.small_box {
    width: 700px;
    height: 400px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
}

.box {
    width: 720px;
    height: 230px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
    border: #ba0f70 5px dashed;
    border-radius: 10px;
}
.box2 {
    width: 700px;
    height: 170px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 10px;
    border: #ff3c2a 5px dashed;
    border-radius: 10px;
}
.box3 {
    font-style: italic;
    width: 700px;
    height: 184px;
    margin-top: 30px;
    margin-left: 80px;
    padding: 10px;
    padding-left: 40px;
    border: #606a69 5px dashed;
    border-radius: 10px;
}

.underline {
    text-decoration:underline;
    color : rgb(209, 102, 21);
}
.bullet_point {
    font-size: 110%;
    margin : 8px;
}

.bottomnav {
    width: 100%;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.bottomnav a {
    color: #ded6d6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.list_server_container {
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    border: 12px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    margin-bottom: 200px;
}

.list_server{
    float: left;
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #212121;
    width: 100%;
}

.list_server .server_name{
    float: left;
    position: relative;
    text-align: left;
    padding-top: 5px;
    margin: 15px;
    margin-left: 20px;
    font-size: 28px;
    font-family: "main_font";
}

.list_server .people{
    /*set color by code*/
    float: right;
    position: relative;
    text-align: right;
    margin: 15px;
    font-size: 25px;
    font-family: "sub_font";
}

.list_server .join_button{
    position: absolute;
    color: white;
    background-color: rgb(211, 10, 10);
    float: left;
    left: 27%;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    font-family: 'main_font';
    font-size: 25px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.35);
    transition: 0.5s;
}

.list_server .join_button:hover{
    cursor:pointer;
    color:rgba(227, 20, 10, 0.8);
    transform:scale(1.1);
    
    background-color: rgba(77, 76, 76, 0.07);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.topnav a:hover {
    animation: rotate reverse 0.5s;
    color: rgb(206, 9, 9);
    background-color: rgb(26, 32, 33);
    font-size: 19px;
}

/*.topnav a:active {
    transition: 0.5s;
    color: rgb(31, 37, 38);
    background-color: #f2f2f2;
    font-size: 19px;
}*/


.topnav a.split {
    cursor: pointer;
    float:right;
    color:rgb(255, 255, 255);
}
.topnav a.split_log:hover {
    animation: zoom 1s;
    cursor: pointer;
    animation-fill-mode: forwards;  
    color: rgb(206, 9, 9);
    background-color: rgb(26, 32, 33);
    font-size: 19px;
}
.topnav a.split_log {
    float:right;
    color:rgb(255, 255, 255);
    background-color: rgb(206, 9, 9);
}
.topnav a.play {
    zoom:105%;
    position: absolute;
    right:20%;
    left:20%;
    font-size: 22px;
    font-weight: 600;
    color: rgb(206, 9, 9);
}

.topnav a.play:hover {
    border-radius: 15px 3px 15px 3px;
    animation: zoom 1s;
    font-size: 25px;
    cursor: pointer;
    animation-fill-mode: forwards;  
    color:#ee7752;
    background-color: rgb(255, 255, 255);
}

.topnav a.play_active {
    /*
    position: absolute;
    font-weight: 600;
    right:20%;
    left:20%;
    border-radius: 15px 3px 15px 3px;
    animation: zoom 1s;
    font-size: 25px;
    cursor: pointer;
    animation-fill-mode: forwards;  
    color:#ee7752;
    background-color: rgb(255, 255, 255);*/
    
    zoom:105%;
    position: absolute;
    right:20%;
    left:20%;
    font-size: 22px;
    font-weight: 600;
    color: rgb(206, 9, 9);
}

.topnav a.play_active:hover {
    border-radius: 15px 3px 15px 3px;
    animation: zoom 1s;
    font-size: 25px;
    cursor: pointer;
    animation-fill-mode: forwards;  
    color:#ee7752;
    background-color: rgb(255, 255, 255);
}

.color_bar {
    padding: 70px 0;
    height: 50px;
    background: rgb(23, 28, 29);
}

.move_up_down{
    animation: move 1.rgba(153, 153, 153, 0.781)ate;
}

.profile_name{
    margin:10px;
    font-family:'sub_font';
    color:#383838;
    position: absolute;
    left:90px;
    top:42px;
}

.profile_password{
    margin:10px;
    font-family:'sub_font';
    color:#000000;
    position: absolute;
    left:100px;
    top:135px;
}

.profile_password_icon{
    width:35px;
    position: absolute;
    left:75px;
    top:135px;
}

.log_out_button{
    background-color: rgb(223, 10, 10);
    position: absolute;
    right:30px;
    bottom:15px;
    padding-left: 5px;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 0 30px rgba(193, 14, 14, 0.5);
}
.log_out_button:hover{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(53, 53, 53, 0.5);
}

.profile_button{
    background-color: rgb(33, 39, 40);
    position: absolute;
    right:50px;
    top:60px;
    padding-left: 5px;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.profile_button:hover{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.profile_other_button{
    background-color: rgb(227, 15, 11);
    position: absolute;
    right:50px;
    top:60px;
    padding-left: 5px;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(223, 5, 5, 0.35);
}
.profile_other_button:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.profile_other_button_remove{
    background-color: rgb(255, 255, 255);
    position: absolute;
    right:50px;
    top:60px;
    padding-left: 5px;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.35);
}
.profile_other_button_remove:hover{
    cursor:pointer;
    box-shadow: 0 0 10px rgba(188, 5, 5, 0.35);
    background-color: rgb(227, 15, 11);
    border-radius: 10px;
}


.log_out_image{
    padding-top: 4px;
    padding-left: 4px;
}
.log_out_image:hover{ 
    content:url(https://icons.hackclub.com/api/icons/red/door-leave);
}
.profile_name_image:hover{ 
    content:url(https://icons.hackclub.com/api/icons/grey/edit);
}
.save_profile:hover{ 
    content:url(https://icons.hackclub.com/api/icons/grey/post);
}

.profile_other_name_image:hover{ 
    content:url(https://icons.hackclub.com/api/icons/red/friend);
}

.profile_other_name_image_remove:hover{ 
    content:url(https://icons.hackclub.com/api/icons/white/member-remove);
}

.profile_mail{
    position: absolute;
    font-family:'main_font';
    font-size: 18px;
    bottom:260px;
    text-decoration: underline;
}
.profile_server{
    color:#a80404;
    font-family:'sub_font';
    font-style: italic;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 45px;
    padding-right: 30px;
}

.caracter_color{
    position:absolute;
    left:50px;
    top:200px;
    background-color: #ffffff;
    width:80px;
    height:80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.banner{
    z-index: -999;
    position:absolute;
    left:0px;
    top:30px;
    background-color: #ffffff;
    width:500px;
    height:140px;
}

        /*----------------------------------PLAY----------------------------------*/
.player_main{
    align-items: center;
    justify-content: center;
    text-align: center; 
    z-index: 500;
    position:absolute;
    left:500px;
    top:500px;
}

.player_graphics{
    margin: auto;
    opacity: 100%;
    background-color:#000000;
    width:50px;
    height:50px;
}

.player_arrow {
    z-index: 600;
    width:30px;
    position: relative;
    top:27px;
    margin-left: 1%;
}

.player_name {
    margin-left: 1%;
    z-index: 600;
    position: relative;
    bottom:18px;
    font-family: "main_font";
    font-size: 10px;
    color:rgb(79, 79, 79);
    border-width: 0;
    background: transparent;
}

.friend_name {
    text-align: center;
    font-family: "main_font";
    font-size: 14px;
    color:rgb(255, 105, 5);
    border-width: 0;
    background: transparent;
}

.friend_name:hover {
    cursor: pointer;
    color:rgb(255, 59, 5);
    font-style: italic;
    text-decoration: underline;
}

.player_name:hover {
    cursor: pointer;
    color:rgb(255, 105, 5);
    font-style: italic;
}


.side_bar {
    text-align: center;
    z-index: 1001;
    width: 80px;
    height: 500px;
    position: fixed;              /* Fixed to viewport */
    
    bottom: 120px;
    right: 30px;                  /* Space from right edge */
    background: linear-gradient(rgb(90, 90, 90), rgb(113, 112, 112), rgb(56, 56, 56));
    border: 3px solid rgba(48, 48, 48, 0.922);
    border-radius: 50px;
    opacity: 0.85;
}

.side_emojis_button {
    position: relative;              /* Fixed to viewport */
    font-size: 60px;
    margin-top: 8.5px;
    width:70px;
    height:70px;
    outline: none;
    border-width: 0px;
    background:#ad717100;
}
.side_emojis_button .text{
    position: relative;              /* Fixed to viewport */
    right: 21%;
    bottom: 5%;
    transition: 0.2s;
}
.side_emojis_button :hover {
    cursor:pointer;
    font-size: 65px;
}

.side_emojis_button_image {
    position: relative;              /* Fixed to viewport */
    margin-top: 20px;
    width:60px;
    height:60px;
    outline: none;
    border-width: 0px;
    background:#ad717100;
}
.side_emojis_button_image:hover .image{
    cursor:pointer;
    width: 70px;
    height: 70px;
    transition: 0.2s;
}

.side_emojis_button_image .image{
    position: relative;              /* Fixed to viewport */
    right: 6.1px;
    bottom: 6.1px;
    width:60px;
    height:60px;
    border-radius: 10px;
    border: 1px solid rgba(48, 48, 48, 0.922);
}


.side_emojis_button_swap {
    color: #000000;
    position: absolute;              /* Fixed to viewport */
    font-size: 40px;
    width:40px;
    height:40px;
    right:20px;
    bottom:0px;
    border-width: 0px;
    outline: none;
    background:#33040400;
    transition: 1s;
}
.side_emojis_button_swap :hover {
    cursor:pointer;
    color: #23a6d5;
}

.text_swap {
    transition: 0.4s;
    position: absolute;              /* Fixed to viewport */
    right:2px;
    bottom:-60px;
    text-align: center;
    font-family: "main_font";
    font-size: 12px;
    text-decoration: underline;
    color:rgb(255, 105, 5);
    opacity:0%;
}

.side_emojis_button_swap:hover ~.text_swap{
    opacity:100%;
}
.side_emojis_button_swap .text{
    transition: 1s;
    position: relative;              /* Fixed to viewport */
    right: 4px;
    bottom: -10px;
    opacity:inherit;
}

/*Actual emoji on screen*/
.emoji_show {
    z-index: 1000;
    font-size: 35px;
    opacity:75%;
}

/*Chat css values*/
.chat_bar {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    font-family: main_font;
    font-size: 22px;
    color: #bdbcbc;
    z-index: 1001;
    width: 450px;
    height: 30px;
    position: fixed;              /* Fixed to viewport */
    
    bottom: 70px;
    left: 20px;                  /* Space from right edge */
    background: linear-gradient(rgb(31, 37, 38), rgb(31, 37, 38));
    border: 2px solid rgba(0, 0, 0, 0.922);
    border-radius: 50px;
    opacity: 0.75;
}

.chat_img {
    z-index: 1002;
    width:40px;
}
.chat_img_pos {
    position: fixed;              /* Fixed to viewport */
    bottom: 70px;
    left: 25px;                  /* Space from right edge */
    opacity: 0.65;
}
.send_img_pos {
    opacity: 0.85;
}
.chat_send_button{
    z-index: 1002;
    position: fixed;              /* Fixed to viewport */
    bottom: 67px;
    left: 525px;                  /* Space from right edge */
    background: transparent;
    border-width: 0px;
}

.chat_send_button :hover{
    cursor: pointer;
    transform:rotate(12deg);
    zoom:106%;
}
.text_show {
    color: #212121;
    z-index: 1000;
    opacity: 85%;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    height: 40px;           
    min-width: 30px;
    max-width: 80px;
}

.chat {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    font-family: main_font;
    font-size: 22px;
    color: #bdbcbc;
    z-index: 1001;
    width: 300px;
    height: 250px;
    position: fixed;              /* Fixed to viewport */
    
    bottom: 120px;
    left: 20px;                  /* Space from right edge */
    background: linear-gradient(rgb(31, 37, 38), rgb(31, 37, 38));
    border: 2px solid rgba(0, 0, 0, 0.922);
    border-radius: 12px;
    opacity: 0.55;
    overflow: hidden;
    overflow-y: scroll;
}

/*cool scrollbar XD*/
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-thumb {
    background-color: #9f9797;
    border-radius: 20px;
}

.chat p {
    color:#bdbcbc;
    margin: 10px -25px;
}

.log_name {
    color:#ff0303;
    font-style: bold;
}

.log_date {
    font-size: 13px;
    color:#a1a0a0ad;
    font-style: italic;
}

header {
    position: sticky;
}

body {
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

html {
    background: url(img/background.svg) no-repeat center center; 
    background-size: cover;
}