<!DOCTYPE html>
<html style = "font-size:150%">
    <!--- python -m http.server 8000 --->
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.3/dist/socket.io.min.js"></script>
    <script type="module" src="../statics/script.js"> </script>
    <title> Web Life </title> 
    <header>
        <div class="topnav">
            <a class="active" href="index.html">Home</a>
            <a href="about.html" class="active">About</a>
            <a class="play" href="server_selection.html">Play</a>
            <a class="split_log" onclick="openProfile()" id="profile"></a>
        </div>
    </header>
    <body> 
        <h1 style = "font-size:170%"> <span id = "small_tabbed_title"> This site is made for <span class = "subtext"> you </span> </span> <br> 
            <span id = "tabbed_title">  and  <span class = "important">your friends! </span> </span> </h1>
        
        <span class="small_box"> <br><br><br><br><br><br><br><br><br><br><br><br><br> </span>
        <p> <span id="number_connected" class="underline" style="white-space:pre">&#9;0</span> people are now living their dream life on <span class="important">  Web Life ! </span></p>
        <p> <span id="number_registered" class="underline" style="white-space:pre">&#9;0</span> people have made an <span class="important"> account !</p>
        <span class="small_box"> <br> </span>
        <center><h1 class="color_bar" style = "font-size:170%;"> <span 
        style = "color:aliceblue;"> <span class="gradient_anim">Join </span> us <span 
        style = "color:rgba(246, 52, 9, 0.844);"> now! </span> </span> </h1></center>
        
        <span class="small_box"> <br><br><br><br><br> </span>
        <h3> <span class = "subtext"> What does Web Life offer ? </span> </h3>  
        <ul class="box3">
            <li class="bullet_point"> free worldwide communication</li>
            <li class="bullet_point"> a unique social experience</li>
            <li class="bullet_point"> text chat and emojis reaction</li>
            <li class="bullet_point"> and fun garanteed!</li>
        </ul>
        <center><p class="subtext" id="end_page_pos" style = "font-size:90%"> <span class="main_part"> Web Life </span> is a 
            <span class="underline"> free</span> an online talking platform where you can have fun with your <span class="underline"> FRIENDS</span> ! </p></center>
            <a href="https://hackclub.com/"><img style="position: absolute; top: 160px; left: 450px; border: 0; width: 256px; z-index: -999;" class="move_up_down" 
                src="https://assets.hackclub.com/banners/2025.svg" alt="Hack Club"/></a>
            <img src="https://assets.hackclub.com/flag-orpheus-left-bw.svg" alt="Hack Club"/>
    </body>
    <footer>
        <div class="footer">
            <center><p class="bottomnav" style = "font-size:82%"> &copy; Website made by <img src="https://icons.hackclub.com/api/icons/grey/github" alt="Hack Club" style="position: relative; left:15px; top:5px; width: 25px;"/> <a href="https://github.com/EmberDragons" target="_blank"> Eashy </a> for 2025 evenement Neighborhood in SF from 
                <img src="https://icons.hackclub.com/api/icons/grey/web" alt="Hack Club" style="position: relative; left:15px; top:5px; width: 25px;"/> <a href="https://hackclub.com/" target="_blank"> Hack Club</a> </p> </center>
        </div>
    </footer>
</html>
